{% extends 'base.html.twig' %}

{% block title %}About Us | {{parent()}} {% endblock %}
{% block body %}

<img src="images/img2.jpeg" alt="vue 2" class="img2">
<h1>Fait avec <span class="text-pink-500">&hearts;</span> par Deslay.</span></h1>
<p> <a href="{{ path('app_home') }}">revenir à la page d'accueil</a> </p>

{% endblock %}