{% extends 'base.html.twig' %}

{% block title %}Hello City !{% endblock %}

{% block body %}
<img src="images/img1.jpeg" alt="vue" class="img1">
<h1>Hello from France</h1>
<p> Il est {{ 'now'|date('h:i A') }}. </p>


{% endblock %}
